<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user_common.css">


    <!-- Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/main.js" defer></script>
    <script src="/js/user_common.js" defer></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>





</head>

<body>
    <%- include('navbar') %>


        <div id="slider" class="carousel slide" data-bs-ride="">

            <div class="carousel-inner h-100 ">

                <div class="carousel-item active h-100 ">

                    <div class="row h-100  justify-content-center">

                        <div class="col-md-5 d-flex flex-column px-5 justify-content-center">
                            <h1>
                                <%= sliders[0].heading %>
                            </h1>
                            <p>
                                <%= sliders[0].description %>
                            </p>
                            <a href="<%= sliders[0].urlLink %>"><button class="btn btn-outline-dark">
                                    <%= sliders[0].urlText %>
                                </button></a>

                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <img src="<%= sliders[0].image %>" class="slider-img" alt="">


                        </div>

                    </div>


                </div>

                <% for(let i=1; i < sliders.length; i++) { %>
                    <div class="carousel-item h-100">
                        <div class="row h-100  justify-content-center">

                            <div class="col-md-5  d-flex flex-column px-5 justify-content-center">
                                <h1>
                                    <%= sliders[i].heading %>
                                </h1>
                                <p>
                                    <%= sliders[i].description %>
                                </p>
                                <a href="<%= sliders[i].urlLink %>"><button class="btn btn-outline-dark">
                                        <%= sliders[i].urlText %>
                                    </button></a>

                            </div>
                            <div class="col-md-6   d-flex align-items-center justify-content-center">
                                <img src="<%= sliders[i].image %>" class="slider-img" alt="">


                            </div>

                        </div>
                    </div>
                    <% } %>




                        <button class="slider-btn" type="button" data-bs-target="#slider" data-bs-slide="prev">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                        <button class="slider-btn" type="button" data-bs-target="#slider" data-bs-slide="next">
                            <i class="bi bi-chevron-right"></i>
                        </button>

            </div>


        </div>



        <div class="container top-section mt-5">
            <div class="toast">
    
                <div class="toast-content">
                  This is a toast message.
                </div>
                <div class="toast-icon">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M15.795 8.342l-5.909 9.545a1 1 0 0 1-1.628 0l-3.182-4.909a1 1 0 0 1 1.629-1.165l2.556 3.953L14.165 7.51a1 1 0 0 1 1.63 1.165z"></path>
                  </svg>
                </div>
              </div>


        <div id="toast">
            
        </div>


            <h3 class="">Top Rated Books</h3>

            <div class="row mb-5 top-row ">


                <% products.forEach(function(product, index) { %>
                    <% const basePrices=Array.from(product.basePrice.values()); %>
                        <% const lowestBase=Math.min(...basePrices); %>
                            <% const highestBase=Math.max(...basePrices); %>

                                <% const salePrices=Array.from(product.salePrice.values()); %>
                                    <% const lowestSale=Math.min(...salePrices); %>
                                        <% const highestSale=Math.max(...salePrices); %>
                                            <div class="col-md-3 top-col ">
                                                <span class="rank display-1">#<%= index+1 %></span>

                                                <% if(customer){%>

                                                    <% const wishlistProductIds=customer.wishlist.map(item=>
                                                        item._id.toString());

                                                        const productIdString = product._id.toString();

                                                        const isProductInWishlist =
                                                        wishlistProductIds.includes(productIdString); %>



                                                        <div class="placement">
                                                            <% if (isProductInWishlist) { %>
                                                                <div class="heart is-active"
                                                                    data-id="<%= productIdString %>"></div>
                                                                <% } else { %>
                                                                    <div class="heart" data-id="<%= productIdString %>">
                                                                    </div>
                                                                    <% } %>
                                                        </div>

                                                        <% }else{%>
                                                            <div tabindex="0" class="placement" role="button"
                                                                data-bs-toggle="popover" data-bs-trigger="focus"
                                                                title="Adding to Wishlist?"
                                                                data-bs-content="Please login for wishlisting a product.">
                                                                <div class="heart-not"></div>
                                                            </div>
                                                            <% }%>




                                                                <a href="/view/<%= product._id %>"
                                                                    class="text-dark text-decoration-none">
                                                                    <div class="book-card  p-0 ">


                                                                        <div class="book-card-cover p-3 ">
                                                                            <div class="book-card-book">
                                                                                <div class="book-card-book-front">
                                                                                    <img class="book-card-img"
                                                                                        src="/<%= product.images[0] %>"
                                                                                        alt="Harry Potter cover">
                                                                                </div>
                                                                                <div class="book-card-book-back">
                                                                                </div>
                                                                                <div class="book-card-book-side">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class=" p-2 d-flex rounded align-items-center flex-column justify-content-evenly top-details">
                                                                            <span class=" fw-bold"
                                                                                style="text-align: center;">
                                                                                <%= product.title %>
                                                                            </span>

                                                                            <div class="d-flex">
                                                                                <% if (lowestBase===highestBase) { %>
                                                                                    <strike
                                                                                        class="me-2 text-secondary">₹
                                                                                        <%= lowestBase %>
                                                                                    </strike>
                                                                                    <% }else { %>
                                                                                        <strike
                                                                                            class="me-2 text-secondary">₹
                                                                                            <%= lowestBase %>-
                                                                                                <%= highestBase %>
                                                                                        </strike>
                                                                                        <% } %>
                                                                                            <% if
                                                                                                (lowestSale===highestSale)
                                                                                                { %>


                                                                                                <span
                                                                                                    class="fw-bold me-2">₹
                                                                                                    <%= lowestSale %>
                                                                                                </span>
                                                                                                <% }else { %>
                                                                                                    <span
                                                                                                        class="fw-bold me-2">₹
                                                                                                        <%= lowestSale
                                                                                                            %>-
                                                                                                            <%= highestSale
                                                                                                                %>
                                                                                                    </span>


                                                                                                    <% } %>
                                                                            </div>


                                                                            <div
                                                                                class="d-flex align-items-center m-0  fs-5">
                                                                                <i
                                                                                    class="bi text-success bi-star-fill"></i>
                                                                                <i
                                                                                    class="bi text-success bi-star-fill"></i>
                                                                                <i
                                                                                    class="bi text-success bi-star-fill"></i>
                                                                                <i
                                                                                    class="bi text-success bi-star-fill"></i>
                                                                                <i
                                                                                    class="bi text-success bi-star-half"></i>
                                                                                <span class="text-secondary ms-2"
                                                                                    style="font-size: small;">(2516)</span>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </a>
                                            </div>

                                            <% } ) %>


            </div>





        </div>

        <% if(recentlyViewed && recentlyViewed.length> 0) { %>

            <div class="container recently-section mt-5">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Recently Viewed</h3>
                    <p>see all</p>
                </div>

                <div class="row mb-5 mt-5 ">
                    <% recentlyViewed.forEach(function(product, index) { %>
                        <% const basePrices=Object.values(product.basePrice); %>
                            <% const lowestBase=Math.min(...basePrices); %>
                                <% const highestBase=Math.max(...basePrices); %>

                                    <% const salePrices=Object.values(product.salePrice); %>
                                        <% const lowestSale=Math.min(...salePrices); %>
                                            <% const highestSale=Math.max(...salePrices); %>

                                                <div class="col-md-3 top-col ">

                                                    <% if(customer){%>
                                                        <% const wishlistProductIds=customer.wishlist.map(item=>
                                                            item._id.toString());

                                                            const productIdString = product._id.toString();

                                                            const isProductInWishlist =
                                                            wishlistProductIds.includes(productIdString); %>

                                                            <div id="recently-viewed">

                                                                <div class="placement">
                                                                    <% if (isProductInWishlist) { %>
                                                                        <div class="heart is-active"
                                                                            data-id="<%= productIdString %>"></div>
                                                                        <% } else { %>
                                                                            <div class="heart"
                                                                                data-id="<%= productIdString %>"></div>
                                                                            <% } %>
                                                                </div>
                                                                <% }else{%>
                                                                    <div tabindex="0" class="placement" role="button"
                                                                        data-bs-toggle="popover" data-bs-trigger="focus"
                                                                        title="Adding to Wishlist?"
                                                                        data-bs-content="Please login for wishlisting a product.">
                                                                        <div class="heart-not"></div>
                                                                    </div>
                                                                    <% }%>

                                                                        <a href="/view/<%= product._id %>"
                                                                            class="text-decoration-none text-dark">
                                                                            <div class="book-card p-0 ">


                                                                                <div class="book-card-cover p-3 ">
                                                                                    <div class="book-card-book">
                                                                                        <div
                                                                                            class="book-card-book-front">
                                                                                            <img class="book-card-img"
                                                                                                src="/<%= product.image %>"
                                                                                                alt="Harry Potter cover">
                                                                                        </div>
                                                                                        <div
                                                                                            class="book-card-book-back">
                                                                                        </div>
                                                                                        <div
                                                                                            class="book-card-book-side">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class=" p-2 d-flex rounded align-items-center flex-column justify-content-evenly top-details">
                                                                                    <span class=" fw-bold"
                                                                                        style="text-align: center;">
                                                                                        <%= product.title %>
                                                                                    </span>

                                                                                    <div class="d-flex">
                                                                                        <% if (lowestBase===highestBase)
                                                                                            { %>
                                                                                            <strike
                                                                                                class="me-2 text-secondary">₹
                                                                                                <%= lowestBase %>
                                                                                            </strike>
                                                                                            <% }else { %>
                                                                                                <strike
                                                                                                    class="me-2 text-secondary">₹
                                                                                                    <%= lowestBase %>-
                                                                                                        <%= highestBase
                                                                                                            %>
                                                                                                </strike>
                                                                                                <% } %>
                                                                                                    <% if
                                                                                                        (lowestSale===highestSale)
                                                                                                        { %>


                                                                                                        <span
                                                                                                            class="fw-bold me-2">₹
                                                                                                            <%= lowestSale
                                                                                                                %>
                                                                                                        </span>
                                                                                                        <% }else { %>
                                                                                                            <span
                                                                                                                class="fw-bold me-2">₹
                                                                                                                <%= lowestSale
                                                                                                                    %>-
                                                                                                                    <%= highestSale
                                                                                                                        %>
                                                                                                            </span>


                                                                                                            <% } %>
                                                                                    </div>




                                                                                </div>
                                                                            </div>
                                                                        </a>

                                                            </div>

                                                </div>

                                                <% } ) %>




                </div>

            </div>

            <% } %>


                <div class="row align-items-center justify-content-center offer-section  "
                    style="height: 45vh; background-color: #f6eee3;">
                    <div class="col-md-5 me-5  off-1 rounded row" style="height: 270px;">

                        <div class="col-6  d-flex flex-column justify-content-center ">

                            <span class=" h1"> Get Flat 15%&nbsp;OFF</span>
                            <span class="fs-5 ">On all Sci-Fi Books</span>
                            <a href=""><button class="btn btn-outline-dark mt-3">Buy Now</button></a>

                        </div>
                        <div class="col-6  align-items-center  d-flex">
                            <img class="off-img" src="/images/OFF 1.png" alt="">

                        </div>
                    </div>
                    <div class="col-md-5  off-2 rounded row " style="height: 270px;">

                        <div class="col-6  d-flex flex-column justify-content-center ">

                            <span class=" h1">Super Deal Super&nbsp;Offer</span>
                            <span class="fs-5 ">Upto 60% OFF</span>
                            <a href=""><button class="btn btn-outline-dark mt-3">Shop Now</button></a>

                        </div>
                        <div class="col-6  align-items-center  d-flex">
                            <img class="off-img" src="/images/OFF 2.png" alt="">

                        </div>

                    </div>

                </div>

                <footer class="bg-dark mt-5 container-fluid  text-light" style="min-height: 30vh;">
                    <div class="row ms-5 ">
                        <div class="col-md-3 mt-5">
                            <h6 class="text-secondary">QUICK LINKS</h6>
                            <li> <a href="">Home</a> </li>
                            <li> <a href="">About Us</a> </li>
                            <li> <a href="">Contact Us</a> </li>
                            <li> <a href="">Services</a> </li>
                        </div>
                        <div class="col-md-3 mt-5">
                            <h6 class="text-secondary">CONTACT US</h6>
                            <li> <a href="">Email : readby@gmail.com</a> </li>
                            <li>Phone : +0498 7654 3210</li>

                        </div>
                        <div class="col-md-3 mt-5">
                            <h6 class="text-secondary">FOLLOW US</h6>

                            <div class="d-flex  align-items-center fs-3">
                                <i class="bi bi-facebook "></i>
                                <i class="bi bi-twitter-x ms-3"></i>
                                <i class="bi bi-instagram ms-3"></i>

                            </div>

                        </div>

                        <div class="col-md-3 d-flex justify-content-center align-items-center footer-logo fs-1 mt-5">
                            <span>Read.By</span>
                        </div>


                    </div>

                </footer>






























</body>

</html>